@{
    ViewBag.Title = "Hakkımızda";
}



<p>
    Cars Online, 1998 yılında İstanbul Etiler’de kurumsal firmalara uzun dönem filo kiralama ve günlük araç kiralama hizmeti vermek üzere faaliyetlerine başlamıştır. Kurulduğu günden itibaren güçlü sermayesi, tecrübeli ekibi, geniş araç filosu, sürdürdüğü dürüst ve ilkeli hizmet anlayışı ile siz değerli müşterilerimizin tam desteğini kazanmış ve yıllarca şirketinizin veya şahsınızın ihtiyaç duyduğu tüm araçlara Türkiye’nin her yerinde güvenli, yedeklenmek suretiyle devamlı ve satış sonrası hizmet kalitesiyle sorunsuz bir şekilde sahip olmanızı sağlamıştır.

    Hedefimiz her zaman hızlı ve riskli büyümek yerine doğru zamanda doğru müşteriyle buluşmak olmuştur. 2.000 i aşkın ve sürekli yenilenen araç filosu ile 7/24 kesintisiz hizmet veren Cars Online’ dan kiraladığınız her araçta size tek kalan sadece keyifli bir sürüş olacaktır.

    Araç kiralamanın firmanıza sağlayacağı avantajları ile beraber Cars Online'ın uygun kira koşullarına araç marka ve model seçeneklerini eklerseniz, size tek bir iş düşüyor;

    ” Dünyanın bütün yollarını keşfetmek…“
</p>

<br>
<br>
<p>
    Misyonumuz

    Müşteri ihtiyaç ve beklentilerini en iyi şekilde anlayarak, onlara en doğru kanaldan en uygun çözüm ve önerilerini sunan, yaygın hizmet ağı ve alternatif dağıtım kanalları ile geniş ürün ve hizmet yelpazesini, hizmet bekleyen her sektöre en hızlı ve en etkin şekilde ulaştıran,  sürdürülebilir ve uzun yıllara dayanan bir kalıcılıkla, müşteri memnuniyetini her şeyden üstün tutan bir şirket olmaktır.
</p>
<br>
<br>
<p>
    Vizyonumuz

    Türkiye’ de yaygın, güvenilir ve aynı kalitede hizmet sunan, her sektörde ki firmaların araç kiralama konusunda çözüm ortağı olan, müşteri ve insan kaynağını en değerli aktifi olarak kabul eden, köklü geçmişine yakışır şekilde sürekli olarak fark ve değer yaratan, rakiplerinin örnek aldığı, her aşamada bir kiralama şirketi olmaktan daha fazlasını vaat eden, saygın ve piyasa değeri yüksek, lider bir şirket olmaktır.
</p>
