@{
    ViewBag.Title = "Home Page";
}

<div class="header_bottom_right_images">
    <div id="slideshow">
        <ul class="slides">
            <li><a href="details.html"><canvas></canvas><img src="~/images/banner4.jpg" alt="Marsa Alam underawter close up"></a></li>
            <li><a href="details.html"><canvas></canvas><img src="~/images/banner2.jpg" alt="Turrimetta Beach - Dawn"></a></li>
            <li><a href="details.html"><canvas></canvas><img src="~/images/banner3.jpg" alt="Power Station"></a></li>
            <li><a href="details.html"><canvas></canvas><img src="~/images/banner1.jpg" alt="Colors of Nature"></a></li>
        </ul>
        <span class="arrow previous"></span>
        <span class="arrow next"></span>
    </div>
    <div class="content-wrapper">
        <div class="content-top">
            <div class="box_wrapper">
              
            </div>
            <div class="text">


                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                        <img src="~/images/pic5.jpg" title="continue reading" alt="">
                        <div class="grid_desc">
                            <p class="title" align="center">CarsOnline</p>
                            <p class="title1" align="center">Güvenilir alışverişin adresi</p>
                           
                           
                        </div>
                    </div><div class="clear"></div>
                </div>


                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                       <img src="~/images/pic6.jpg" title="continue reading" alt="">
                        <div class="grid_desc">
                            <p class="title" align="center">CarsOnline</p>
                            <p class="title1" align="center">Güvenilir alışverişin adresi</p>
                           
                           
                        </div>
                    </div><div class="clear"></div>
                </div>


                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                        <img src="~/images/pic4.jpg" title="continue reading" alt="">
                        <div class="grid_desc">
                            <p class="title" align="center">CarsOnline</p>
                            <p class="title1" align="center">Güvenilir alışverişin adresi</p>
                           
                           
                        </div>
                    </div><div class="clear"></div>
                </div><div class="clear"></div>

            </div>
        </div>
        <div class="content-top">

            <div class="text">
                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                       <img src="~/images/pic1.jpg" title="continue reading" alt="">
                        <div class="grid_desc">
                            <p class="title" align="center">CarsOnline</p>
                            <p class="title1" align="center">Güvenilir alışverişin adresi</p>
                           
                           
                        </div>
                    </div><div class="clear"></div>
                </div>

                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                        <img src="~/images/pic2.jpg" title="continue reading" alt="">
                        <div class="grid_desc">
                            <p class="title" align="center">CarsOnline</p>
                            <p class="title1" align="center">Güvenilir alışverişin adresi</p>
                          
                           
                        </div>
                    </div><div class="clear"></div>
                </div>

                <div class="grid_1_of_3 images_1_of_3">
                    <div class="grid_1">
                        <img src="~/images/pic3.jpg" title="continue reading" alt="">
                        <div class="grid_desc">
                           <p class="title" align="center">CarsOnline</p>
                            <p class="title1" align="center">Güvenilir alışverişin adresi</p>
                          
                           
                        </div>
                    </div><div class="clear"></div>
                </div><div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="header-para">
    <div class="categories">
        <div class="list-categories">
            <div class="first-list">
                <div class="div_2"><a href="">Araçlar</a></div>
                <div class="div_img">
                    <img src="~/images/car1.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div><div class="clear"></div>
            </div>
            <div class="first-list">
                <div class="div_2"><a href="">Kiralananlar</a></div>
                <div class="div_img">
                    <img src="~/images/car2.jpg" alt="Cars" title="Cars" width="60" height="39">
                </div><div class="clear"></div>
            </div>

        </div>

        <div class="box-title">
            <h1><span class="title-icon"></span><a href="">Araç Filomuz</a></h1>
        </div>
        <div class="section group example">
            <div class="col_1_of_2 span_1_of_2">
                <img src="~/images/pic21.jpg" alt="" />
                <img src="~/images/pic24.jpg" alt="" />
                <img src="~/images/pic25.jpg" alt="" />
                <img src="~/images/pic27.jpg" alt="" />
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <img src="~/images/pic22.jpg" alt="" />
                <img src="~/images/pic23.jpg" alt="" />
                <img src="~/images/pic26.jpg" alt="" />
                <img src="~/images/pic28.jpg" alt="" />
            </div><div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>